<p>
	I'm a web developer living and working in London. 
	<a class="cv" href="http://simonmcmanus.com/cv/index.html"> Here is my CV.</a>
</p> 

	This site pulls in my activity from : 
	<ul class="services">
		<li class="flickr">
			<a href="href-">flickr.com/simonmcmanus</a>
		</li>
		<li class="twitter">
			<a href="href">twitter.com/simonmcmanus</a>
		</li>
		<li class="youtube">
			<a href="href">youtube.com/simonmcmanus</a>
		</li>
		<li class="wordpress">
			<a href="href">simonmcmanus.wordpress.com</a>
		</li>
	</ul>

<p>
	This site is running on node.js. The code can be found on <a href="http://github.com/simonmcmanus">github.com/simonmcmanus</a>.
</p>
