<link rel="stylesheet" type="text/css" href="http://simonmcmanus.com/node_static/contact.css" itemprop="contactStyles">
<script type="text/javascript">
	$('.twitter-bird.bird').css({'top':'-10em', 'position':'relative'});
</script>
<div class="twitter-bird bird">
	<a href="http://twitter.com/simonmcmanus">
		<img src="http://simonmcmanus.com/node_static/images/twitter-bird.png" class="bird" /><br />
	</a>
</div>
<div class="twitter-bird sign">
	<a href="http://twitter.com/simonmcmanus">
		<img src="http://simonmcmanus.com/node_static/images/followme.png" class="sign" />
	</a>
</div>

<div class="vcardHolder">
	<div id="hcard-Simon-McManus" class="vcard">
		<a class="url fn" href="http://simonmcmanus.com">Simon McManus</a>
		<div class="org">Web Developer</div>
		<div class="adr">
			<span class="locality">London</span>,
			<span class="region">UK</span>
		</div>
		<ul>
			<li><a href="tel:+44781%20454%205689">+44781 454 5689</a></li>
			<li><a class="email" href="mailto:mcmanus.simon@gmail.com">mcmanus.simon@gmail.com</a></li>
		</ul>
	</div>
</div>